# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

INSTALL.txt
README.txt
README.down
web.config
.idea

.sass-cache
